.abtBanner {
  background: url('https://www.saint-gobain-sekurit.com/sites/hps-mac3-sekurit-sekurit/files/styles/hero_banner_sub_segment_page_desktop/public/2021-03/Hero%20Banner%20stories_0.jpg?itok=hDTDYxzO');
  height: 32vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bannersubH {
  color: rgb(240, 240, 240);
  font-weight: 400;
  font-family: Raleway;
  font-size: 25px;
  margin-top: -12px;
  word-spacing: 3px;
  text-align: center;
}

@media screen and (max-width: 699px) {
  .bannersubH {
    font-size: 16px;
  }
}
