@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Rhodium+Libre&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  background: rgb(254, 255, 255);
  width: 100%;
  align-items: center;
}

.navitems {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.navbar-logo {
  /* margin-right: 200px; */
  width: 118px;
  height: 63px;
  cursor: pointer;
}

a {
  text-decoration: none;
}
.navlink {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  position: relative;
}

.navlink:hover {
  font-weight: bold;
}

.navlink ::before {
  content: "";
  position: absolute;
  width: 0%;
  bottom: -13px;
  left: 0;
  height: 2px;
  transition: all 0.2s;
  background-color: #054d88;
}

.navlink:hover ::before {
  width: 90%;
}

.menu-icon {
  cursor: pointer;
  display: none;
  font-size: 21px;
  color: #0c0c0c;
}

@media screen and (max-width: 768px) {
  .menu-icon {
      display: block;
  }

  .navitems {
      position: absolute;
      right: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 30%;
      width: 100%;
      top: 70px;
      background: rgb(254, 255, 255);
      border-top: 5px solid #074b89;
      margin-right: 0px;
      left: -100%;
      justify-content: space-around;
      transition: all 0.5s ease-out;
  }
  .active {
      left: 0%;
  }
  .nav-links {
      font-size: 17px;
     
  }
  .nav-links:hover {
      font-size: 13.3px;
  }
}

