.bannerContainer{
  background-image: url(../public/bannerimg.svg);
  min-height: 78vh;
  width:100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 7px;
}

.bannerText{
  color: white;
  text-shadow: 5px 5px 10px black;
  font-size: 65px;
  font-family: Roboto;
  text-align: center;
  margin: auto;
  width: 90%;
  color: #fff;
  line-height: 130%;
}

@media screen and (max-width: 590px) {
  .bannerText {
      font-size: 56px;
  }
}

@media screen and (max-width: 510px) {
  .bannerText {
      font-size: 54px;
  }
}

@media screen and (max-width: 509px) and (min-width: 300px) {
  .bannerText {
      font-size: 48px;
  }
}

@media screen and (max-width: 299px) {
  .bannerText {
      font-size: 40px;
  }
}

@media screen and (max-width: 260px) {
  .bannerText {
      font-size: 30px;
  }
}

@media screen and (max-width: 170px) {
  .bannerText {
      font-size: 13px;
  }
}