.homeContainer{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }


.bannerContainer{
  background-image: url(../public/bannerimg.svg);
  min-height: 78vh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 7px;
}

.bannerText{
  color: white;
  text-shadow: 5px 5px 10px black;
  font-size: 65px;
  font-family: Roboto;
  text-align: center;
  margin: auto;
  width: 90%;
  color: #fff;
  line-height: 130%;
}

@media screen and (max-width: 590px) {
  .bannerText {
      font-size: 56px;
  }
}

@media screen and (max-width: 510px) {
  .bannerText {
      font-size: 54px;
  }
}

@media screen and (max-width: 509px) and (min-width: 300px) {
  .bannerText {
      font-size: 48px;
  }
}

@media screen and (max-width: 299px) {
  .bannerText {
      font-size: 40px;
  }
}

@media screen and (max-width: 260px) {
  .bannerText {
      font-size: 30px;
  }
}

@media screen and (max-width: 170px) {
  .bannerText {
      font-size: 13px;
  }
}

.exploreText{
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  color: #22322B;
  font-weight: 500;
}

.exploreContent{
  height: 60vh;
}

.testimonialContainer{
  background-image: url(../public/testimonialbg.svg);
  width: 100%;
  font-family: Montserrat;
  text-align: center;
  min-height: 84vh;
}


.testimonialHeaderText{
  font-size: 27px;
  color: #fff;
  margin: 0;
  padding-top: 50px;
  letter-spacing: 1px;

}

.testimonialSubHeaderText{
  color: #ECEAEA;
  font-size: 18px;
  margin: 0;

}