.homeContainer {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Banner styling */
.bannerContainer {
  background-image: url(../public/bannerimg.svg);
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 7px;
}

.bannercontent {
  text-shadow: 5px 5px 10px rgb(65, 64, 64);
  font-family: Roboto;
  text-align: center;
  margin: auto;
  width: 90%;
}

.bannerText {
  color: white;
  font-size: 70px;
  margin-bottom: -10px;
}

.bannerp {
  text-shadow: 5px 5px 10px rgb(12, 11, 11);
  color: white;
  font-weight: 200;
  font-size: 30px;
  color: rgb(240, 240, 240);
}

@media screen and (max-width: 590px) {
  .bannerText {
    font-size: 56px;
  }
}

@media screen and (max-width: 510px) {
  .bannerText {
    font-size: 54px;
  }
}

@media screen and (max-width: 509px) and (min-width: 300px) {
  .bannerText {
    font-size: 48px;
  }
  .bannerp {
    font-size: 20px;
  }
}

@media screen and (max-width: 299px) {
  .bannerText {
    font-size: 40px;
  }
  .bannerp {
    font-size: 17px;
  }
}

@media screen and (max-width: 260px) {
  .bannerText {
    font-size: 30px;
  }
}

@media screen and (max-width: 170px) {
  .bannerText {
    font-size: 13px;
  }
}

/* Explore styling */

.explore {
  max-width: 1200px;
  margin: 0 auto;
}

.exploreheader {
  text-align: center;
  font-family: Montserrat;
  color: #2d2d2d;
  font-size: 30px;
  font-weight: 500;
}

.card_image img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 25px;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .cards {
    margin: 15px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 730px) {
  .cards {
    margin: 25px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  font-family: Montserrat;
}

.card_title {
  color: #44689a;
  letter-spacing: 1px;
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
}

.card_text {
  color: #3d3d3d;
  font-size: 15px;
  line-height: 1.5;
  /* margin-bottom: 1.25rem;     */
  font-weight: 400;
}

/* Certificate styling */

.cert {
  background-image: url(../public/testimonialbg.svg);
  width: 100%;
  font-family: Montserrat;
  text-align: center;
  min-height: auto;

  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 7px;
  /* margin-bottom: 60px; */
  padding-bottom: 40px;
}

.certHeader {
  font-size: 27px;
  color: #fff;
  margin: 12px;
  padding-top: 30px;
  letter-spacing: 1px;
}

.certimg {
  width: 55%;
  margin: auto;
  background-color: #ffffff;
  padding-bottom: 12px;
}

.certimg img {
  max-height: auto;
}

@media screen and (max-width: 800px) {
  .certimg {
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    padding-bottom: 12px;
  }
}

.cmsection {
  max-width: 70%;
  margin: 0 auto;
}

.cm {
  background-color: #29545e;
  border-radius: 12px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 23px;
  height: 390px;
}

.cmimage {
  height: 390px;
  max-width: 100%;
}
.cmContent {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.105),
    rgba(255, 255, 255, 0.561),
    rgba(255, 255, 255, 0.788),
    rgb(255, 255, 255)
  );
  display: flex;
  flex-direction: column;
  font-family: Montserrat;

  justify-content: center;
  width: 100%;
  margin-left: 20px;
  padding: 15px;
}

.cmHeader {
  color: #292929;
  text-shadow: 1px 0.5px #494949;
  letter-spacing: 1px;
  margin: 0px;
  font-size: 23px;
  font-weight: 500;
}

.cmText {
  color: #242424;
  /* text-shadow: 1px 0.5px #86868633; */
  font-size: 15px;
  line-height: 1.5;
  /* margin-bottom: 1.25rem;     */
  font-weight: 300;
}

.cmAnchor {
  color: #0961cc;
  text-decoration: underline;
  font-style: italic;
  font-family: Montserrat;
  font-size: 14px;
  margin-top: 15px;
}

.cmAnchor:hover {
  background: transparent;

  cursor: pointer;
}

@media screen and (max-width: 1042px) {
  .cm {
    padding: 15px;
    height: 330px;
  }

  .cmimage img {
    height: 330px;
    width: 240px;
  }
  .cmContent {
    padding: 10px;

    height: 300px;
  }

  .cmHeader {
    font-size: 20px;
  }

  .cmText {
    color: #242424;
    font-size: 13px;
  }

  .cmAnchor {
    font-size: 12px;
  }
}

@media screen and (max-width: 775px) {
  .cmsection {
    max-width: 80%;
  }
}

@media screen and (max-width: 625px) {
  .cmsection {
    max-width: 93%;
  }
}
@media screen and (max-width: 545px) {
  .cmsection {
    max-width: 85%;
  }

  .cm {
    flex-direction: column;
    height: auto;
    padding: 0px;
    margin: 0px;
    background-color: white;
  }

  .cmimage {
    height: auto;
    max-width: 100%;
    width: 100%;
  }

  .cmimage img {
    height: auto;
    max-width: 100%;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .cmContent {
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(41, 84, 94, 0.465),
      rgb(41, 84, 94)
    );
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 93%;

    margin: auto;

    margin-top: -5px;
    padding: 17px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: fit-content;
  }

  .cmHeader {
    font-size: 19px;
  }

  .cmText {
    font-size: 15px;
  }

  .cmAnchor {
    font-size: 13px;
  }
}

@media screen and (max-width: 410px) {
  .cmContent {
    width: 85%;

    margin: auto;
    margin-top: -5px;
    padding: 25px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: fit-content;
  }
}

@media screen and (max-width: 300px) {
  .cmContent {
    width: 100%;

    margin: auto;
    margin-top: -5px;
    padding: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: fit-content;
  }
}

/* Team styling */

.teamSection {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 70px;
}

.teamContainer {
  width: 80%;
  margin: auto;
}
.teamHeader {
  text-align: center;
  font-family: Montserrat;
  color: #2d2d2d;
  font-size: 30px;
  font-weight: 500;
}

.allTeams {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memeberFrame {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  height: 200px;
  width: 200px;
  border-radius: 190px;
  box-shadow: 3px 3px 10px rgb(195, 196, 202);
}

.memeberImg {
  height: 170px;
  width: 170px;
}

.teamInfo {
  width: 100%;
  text-align: center;
  margin-top: 12px;
}

.memberName {
  color: #007ab7;
  font-size: 22px;
  font-family: Montserrat;
}

.memberRole {
  color: #5f5c5c;
  font-family: Montserrat;
  font-size: 16px;
  margin-top: -20px;
}

@media screen and (max-width: 1240px) {
  .allTeams {
    grid-template-columns: repeat(2, 1fr);
    
  }
}

@media screen and (max-width: 598px) {
  .allTeams {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .teamHeader {
    font-size: 30px;
  }
}

@media screen and (max-width: 370px) {
  .memeberFrame {
    height: 150px;
    width: 150px;
  }
  .memeberImg {
    height: 130px;
    width: 130px;
  }
  .linkden {
    height: 40px;
    width: 40px;
    margin-top: 45px;
  }
  .memberName {
    color: #007ab7;

    font-size: 16px;
  }
  .memberRole {
    color: #5f5c5c;
    font-size: 10px;
  }
}

@media screen and (max-width: 310px) {
  .teamHeader {
    font-size: 25px;
  }
  .teamContainer {
    width: 80%;
    margin: 0px;
  }
}








.abtContainer {
  width: 100%;
  background-color: #f7f8f8;
  padding-bottom: 40px;
}

.abtbanner {
  background-color: #29545e;
  padding: 24px;
  margin-bottom: 40px;
}

.abtbanner h1 {
  font-family: Montserrat;
  font-size: 27px;
  text-align: center;
  color: #eeeeee;
}

.speech {
  width: 90%;
  display: flex;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 1px 1px 6px rgba(148, 148, 148, 0.555);
}

/* .speechbox{
  display: flex;
 margin: 20px;


}


.speechbox img{
width: 530px;
height: 770px;

} */

.spcontent {
  display: flex;

  flex-direction: column;
  font-family: Montserrat;
  margin: auto;
  padding: 36px;
  justify-content: flex-start;
}

.spcontent h4 {
  font-size: 30px;
  font-weight: 600;
  color: #063d8f;
  margin-bottom: 8px;
}

.spcontent h2 {
  color: #0058db;
  font-size: 19px;
  margin-bottom: 6px;
}

.hcm {
  color: #1b46bd;
  font-size: 16.5px;
  font-weight: 400;
}

.spcontent p {
  line-height: 39px;
}

.paras {
  margin-top: 15px;
}

.spcontent h5 {
  font-size: 19px;
  color: #0058db;
}
